:root {
    --main-logo-color: #FFC312;
    --main-border-color: #272829b0;
    --link-override-color: #007bff;
    --border-hide-color: #004085;
    --background-hide-color: #061021b8;
    --text-hide-color: #333333;
    --main-nav-color: rgba(23, 7, 53, 0.88);
}

html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-attachment: fixed;
}

.log-container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.table-card {
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.border-decoration {
    border: solid 2px var(--main-border-color);
    border-radius: 5px 5px;
}

.border-bottom-decoration {
    border-bottom: solid 2px var(--main-border-color);
    border-radius: 5px 5px;
}


.a-override, .a-override:link, .a-override:visited,
.a-override:active {
    text-decoration: none;
    color: var(--link-override-color);
    pointer-events: none;
    cursor: default;
}


.hide-text {
    opacity: 0;
    top: 50%;
    left: 50%;
    font-weight: 800;
    position: absolute;
    padding: 15px 15px;
    text-align: center;
    font-size: x-large;
    text-decoration: none !important;
    border-radius: 10px 10px;
    border: 2px solid var(--border-hide-color);
    background-color: var(--background-hide-color);
    color: var(--text-hide-color) !important;
    transform: translate(-50%, -30%);
}

.hide-text:hover {
    opacity: 1;
    transition: .7s ease;
}

.wrap-on-word {
    word-wrap: break-word;
}

.sign-up-card {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 600px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}


.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: var(--main-logo-color);
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: var(--main-logo-color);
    color: black;
    border: 0 !important;
}

.input-group-sign-up span {
    background-color: var(--main-logo-color);
    color: black;
    border: 0 !important;
}

.input-group-text-override {
    padding: .700rem .75rem !important;
}

.custom-padding-5 {
    padding: 5px 5px !important;
}

.input-group-sign-up-text-override {
    padding: .450rem .75rem !important;
    margin-right: -1px;
    min-width: 170px;
}

.fit-width-to-fa {
    min-width: calc(100% - 25px);
}

.clear-right-radius {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.clear-left-radius {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.min-w-170 {
    min-width: 170px;
}

.w-30 {
    width: 100%;
    min-width: 30px;
}

input:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: var(--main-logo-color) !important;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

/* Board */
.list-title {
    color: whitesmoke;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}


.board-container {
    display: flex;
    flex-flow: column;
    height: 80vh;
}

div.board-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists {
    display: flex;
    flex: 1;
    width: 100%;
}

.lists .list {
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    padding: 8px;
    transition: all 0.2s linear;
}

.lists .list .list-item {
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 4px 0;
}


.container-override {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 4%;
    margin-left: 4%;
}

.clear-container-margin {
    margin-right: -5.92%;
    margin-left: -5.9%;
    padding-right: 15px /*!important*/;;
    padding-left: 15px;
}

.white-text {
    color: white !important;
}

.text-x-large {
    font-size: x-large !important;
}

.main-nav {
    background-color: var(--main-nav-color) !important;
    color: white !important;
}

.btn-white {
    border-color: white !important;
    color: white !important;
}

.btn-white:hover {
    border-color: white !important;
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}


.dropbtn {
    color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #909090;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333;
    text-decoration: none;
    color: white;
}


.show {
    display: block;
}

/**/

@media (min-width: 576px) {
    .container-override {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-override {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-override {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-override {
        max-width: 1240px;
    }
}