{% extends 'header.html' %}

{% block scripts %}
{% endblock %}
{% block content %}
    <div class="board-container">
        <div class="lists">
            <div class="list">
                <div class="list-item" draggable="true">List item</div>
                <div class="list-item" draggable="true">List item</div>
                <div class="list-item" draggable="true">List item</div>
            </div>
            <div class="list">

            </div>
            <div class="list">

            </div>
        </div>
    </div>
{% endblock %}