{% extends 'header.html' %}
{% load static %}

{% block scripts %}
{% endblock %}
{% block navigation %}
    <nav class="sticky-nav navbar navbar-light justify-content-between main-nav">
        <a class="navbar-brand white-text text-x-large" href="{% url 'index' %}">
            <img src="{% static 'PP.ico' %}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Pyra
        </a>
        <a class="d-flex back-board" href="{% url 'index' %}">Back to boards</a>
        <div class="d-flex">
            <div class="dropdown mr-3">
                <a style="display: inline-block" onclick="myFunction()" class="dropbtn">
                    <span><i class="fa fa-plus"></i></span>
                </a>
                <div id="myDropdown" class="dropdown-content">
                    <a class="text-center" data-toggle="modal" data-target="#task-add-modal" href="#">Add task</a>
                </div>
            </div>
            <a href="{% url 'logout' %}" class="btn btn-outline-success btn-white my-2 my-sm-0" type="submit">Logout</a>
        </div>
    </nav>

    <div class="modal fade" role="dialog" id="task-add-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"> Create new task </h3>
                    <button type="button" class="close" onclick="closeNewTaskModal()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="alert alert-success" role="alert" id="task-add-success">
                        Task added successfully!
                    </div>
                    <form id="new-task-form">
                        <div class="form-group">
                            <label for="task-title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="task-title">
                        </div>
                        <div class="form-group">
                            <label for="task-description" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="task-description">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Status</label>
                            </div>
                            <label for="task-state"></label>
                            <select class="custom-select" id="task-state">
                                <option selected>TODO</option>
                                <option>DOING</option>
                                <option>DONE</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="task-priority">Priority</label>
                            <input type="range" min="0" max="4" class="form-control-range" id="task-priority">
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" onclick="createNewTask()">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="board-container">
        <div class="lists">
            <div class="list">
                <h2 class="list-title"> TODO </h2>
                {% for task in todo_tasks %}
                    <div class="list-item shadow"
                         draggable="true"
                         data-internalid={{ task.id }}>
                        <div class="row">
                            <div class="col-11 col-11-clean">{{ task.title }}</div>
                            <div class="col-1 col-1-clean">
                                <button class="btn btn-edit-task">
                                    <span><i class="fa fa-pencil-alt"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1 col-1-clean">
                                <div class="col-1 col-1-clean">
                                    <button class="btn btn-edit-watch-task">
                                        <span><i class="fa fa-eye"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-11 col-11-fit-right d-flex justify-content-end">
                                {% for  contributors in task.contributors.all %}
                                    <div class="rounded-circle member mr-1">
                                        <span class="member-initials"
                                              title="{{ contributors.username }} {{ contributors.email }}"
                                              aria-label="{{ contributors.email }}">
                                            {{ contributors.get_initials }}
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="list">
                <h2 class="list-title"> DOING </h2>
                {% for task in doing_tasks %}
                    <div class="list-item shadow"
                         draggable="true"
                         data-internalid={{ task.id }}>
                        <div class="row">
                            <div class="col-11 col-11-clean">{{ task.title }}</div>
                            <div class="col-1 col-1-clean">
                                <button class="btn btn-edit-task">
                                    <span><i class="fa fa-pencil-alt"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1 col-1-clean">
                                <div class="col-1 col-1-clean">
                                    <button class="btn btn-edit-watch-task">
                                        <span><i class="fa fa-eye"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-11 col-11-fit-right d-flex justify-content-end">
                                {% for  contributors in task.contributors.all %}
                                    <div class="rounded-circle member mr-1">
                                        <span class="member-initials"
                                              title="{{ contributors.username }} {{ contributors.email }}"
                                              aria-label="{{ contributors.email }}">
                                            {{ contributors.get_initials }}
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="list">
                <h2 class="list-title"> DONE </h2>
                {% for task in done_tasks %}
                    <div class="list-item shadow"
                         draggable="true"
                         data-internalid={{ task.id }}>
                        <div class="row">
                            <div class="col-11 col-11-clean">{{ task.title }}</div>
                            <div class="col-1 col-1-clean">
                                <button class="btn btn-edit-task">
                                    <span><i class="fa fa-pencil-alt"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-1 col-1-clean">
                                <div class="col-1 col-1-clean">
                                    <button class="btn btn-edit-watch-task">
                                        <span><i class="fa fa-eye"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-11 col-11-fit-right d-flex justify-content-end">
                                {% for  contributors in task.contributors.all %}
                                    <div class="rounded-circle member mr-1">
                                        <span class="member-initials"
                                              title="{{ contributors.username }} {{ contributors.email }}"
                                              aria-label="{{ contributors.email }}">
                                            {{ contributors.get_initials }}
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
