{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css"/>
    <script src="{% static 'app.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Numans">
    <link rel="shortcut icon" type="image/png" href="{% static 'PP.ico' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    {% block scripts %}
    {% endblock %}
    <title> {% block title %} Pyra {% endblock %}</title>
</head>
<body>
{% block navigation %}
{% endblock %}
<main class="container-override min-h-100">
    {% block content %}
    {% endblock %}
</main>
<footer class="main-nav p-1">
    <div class="container mb-2">
        <div class="row justify-content-md-center comfortaa-font pt-2">
            <h2>Pyra Copyright © 2020 </h2>
        </div>
        <div class="row justify-content-md-center mb-2 comfortaa-font">
            <h3>Authors</h3>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-3 text-center auth-border mr-1">
                <h5>Patrycja Paradowska</h5>
                <h5>Albert Piekielny</h5>
            </div>
            <div class="col col-sm-3 text-center auth-border ml-1">
                <h5>Jakub Dochniak</h5>
                <h5>Patryk Barczak</h5>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
