{% extends 'header.html' %}

{% block scripts %}
{% endblock %}

{% block content %}
<nav id="main-nav" class="topnavbar">
    <a class="but-link" href="/"> PYRA </a>

    <a href="accounts/logout" class="btn btn-secondary">Logout</a>
</nav>

<div>
    Your boards:

    {% for board in boards %}
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{board.name}}</h5>
                <p class="card-text">{{board.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
