{% extends 'header.html' %}
{% block title %} Join Pyra {% endblock %}

{% block content %}
    <div class="log-container mt-5">
        <div class="col">
            <div class="d-flex justify-content-center h-100">
                <div class="sign-up-card">
                    <div class="card-header">
                        <h3 class="d-flex justify-content-start">Sign Up</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group form-group">
                                <div class="input-group-sign-up">
							        <span class="input-group-text input-group-sign-up-text-override">
                                        <i>Username</i>
                                        <span class="text-danger ml-1">*</span>
                                    </span>
                                </div>
                                {{ field.errors }}
                                <input type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" class="form-control"
                                       placeholder="Enter your username" id="id_username">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-sign-up">
							        <span class="input-group-text input-group-sign-up-text-override">
                                        <i>First name</i>
                                    </span>
                                </div>
                                {{ field.errors }}
                                <input type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" class="form-control"
                                       placeholder="Enter your first name" id="id_username">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-sign-up">
							        <span class="input-group-text input-group-sign-up-text-override">
                                        <i>Last name</i>
                                    </span>
                                </div>
                                {{ field.errors }}
                                <input type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" class="form-control"
                                       placeholder="Enter your last name" id="id_username">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-sign-up d-flex min-w-170">
							        <span class="input-group-text input-group-sign-up-text-override fit-width-to-fa clear-right-radius">
                                        <i>Password</i>
                                        <span class="text-danger ml-1">*</span>
                                    </span>
                                    <span class="input-group-text input-group-sign-up-text-override w-30 clear-left-radius"
                                          style=" padding: 5px 5px !important;"><i
                                            class="fa fa-lock"></i></span>
                                </div>
                                {{ field.errors }}
                                <input type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" class="form-control"
                                       placeholder="Choose password (5-15 chars)" id="id_username">
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-sign-up d-flex min-w-170">
							        <span class="input-group-text input-group-sign-up-text-override fit-width-to-fa clear-right-radius">
                                        <i>Confirm password</i>
                                        <span class="text-danger ml-1">*</span>
                                    </span>
                                    <span class="input-group-text input-group-sign-up-text-override w-30 clear-left-radius"
                                          style=" padding: 5px 5px !important;"><i
                                            class="fa fa-lock"></i></span>
                                </div>
                                {{ field.errors }}
                                <input type="text" name="username" autofocus="" autocapitalize="none"
                                       autocomplete="username" maxlength="150" required="" class="form-control"
                                       placeholder="Confirm your password" id="id_username">
                            </div>
                            <div class="form-group mb-3">
                                <input type="submit" value="Sign up" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <p>A</p>
    <p>A</p>
    <p>A</p>
    <p>A</p>
    <p>A</p>
    <p>A</p>
    <p>A</p>
    <p>A</p>
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a href="/" class="btn btn-secondary">Back</a>
    </form>
{% endblock %}
